* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
    list-style: none;
}

h1 {
    font-size: 80px;
    text-align: center;
    margin: 80px 0;
    padding: 50px 0;
    color: #555;
}

body{
	background: #EEE;
}

nav {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: #FFF;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.6));
}

nav li {
    color: #444;
    transition-property: all;
    transition: 150ms linear;
    font-family: sans-serif;
}

nav li:hover{
    color: #000;
    background-color: #EEE;
}

#head-title {
    font-size: 30px;
    float: left;
    padding: 17.5px 50px;
}

#subscribe {
    font-size: 30px;
    float: right;
    padding: 17.5px 50px;
}

footer{
    width: 100%;
    background: #FFF;
    height: 80px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

footer p{
    font-size: 30px;
    color: #555;
    font-family: sans-serif;
}